* {
    text-align: center;
}
.one,
.two,
.three,
.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
}
.one,
.four {
    height:300px;

}
.two,
.three {
    width: 50%;
    height: 600px;
    background: tomato;
}
.container {
    display: flex;
    flex-direction: row;
}
.one {
    background: palegoldenrod; 
}
.four {
    background: radial-gradient(at bottom left, darkorange 0%, crimson 25%, midnightblue 100%)
}